<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>

</head>
<body>
  <form action="/register" method="post" class="p-10" >
    <h3 class="text-3xl my-3" >Create Account</h3>
    <input type="text" class="px-3 py-2 outline-none border-2 rounded-md" placeholder="name" name="name" >
    <input type="text" class="px-3 py-2 outline-none border-2 rounded-md" placeholder="username" name="username" >
    <input type="text" class="px-3 py-2 outline-none border-2 rounded-md" placeholder="age" name="age" >
    <input type="email" class="px-3 py-2 outline-none border-2 rounded-md" placeholder="email" name="email" >
    <input type="password" class="px-3 py-2 outline-none border-2 rounded-md" placeholder="password" name="password" >
    <input type="submit" class="px-3 py-2 bg-blue-500" value="create account">
  </form>
</body>
</html>