<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>

</head>
<body  class="px-[7vw]" >
  <div class=" w-full  flex justify-end p-5" >

    <a class="px-3 py-2 bg-red-500 text-white my-3 " href="logout"> logout</a>
  </div>
    <h3 class="text-3xl my-3" >Hello <%= user.username %></h3>
    <h4 class="my-3" >you can create a post</h4>
    <form action="/post" method="post" >
      <textarea name="content" placeholder="whats on your mind" class="resize-none border-2 p-3 outline-none rounded-md" id=""></textarea>
      <input type="submit" class="block px-3 py-2 text-white  rounded-md bg-blue-500" value="create new post">
    </form>
    <div  class="my-5" >
      <p class="text-xl my-3 " >Your Posts</p>
      <div  class="flex flex-wrap gap-4 ">
           
           <% user.posts.reverse().forEach((post)=>{ %>
            <div class="post p-4 rounded-md w-1/3 p-5 border-2">
              <h4 class="text-blue-500 " ><%= user.username %></h4>
              <p class="text-sm" ><%= post.content %> </p>
              <div class="mt-5 flex gap-4 " >
                <a class="text-blue-500" href="">like</a>
                <a class="text-brown-500" href="">Edit</a>
              </div>
            </div>
     <%      }) %>
       
      </div>
    </div>
   
</body>
</html>